<h1>{{truck.company}}</h1>
<p>{{truck.capacity}}</p>
<p>{{truck.location}}</p>
{{!-- <p>{{truck.available}}</p> --}}

{{!-- <a href="/opponents/{{game.opponentId}}">
    <p>
        Opponent Page
    </p>
</a>

<form action="/games/{{game._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Game" />
</form> --}}